.box {
  position: absolute;
  top: 14vh;
  left: 32%;
  background: #f7f1e3;
  padding: 30px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

.box input[type="password"],
.box input[type="reset"] {
  float: right;
}

.box .btn {
  width: 205px;
}
